<!--
    The "input" event is fired whenever the user types into an input. It gets fired on every keystroke.

    $event is a reserved variable name you can use in the template when using event binding. It contains the data emitted
    with the event. So, (input) and (click) are events provided by the DOM, and they emit some data when they are fired.

    By passing $event as the argument to the method in the model, we can use the data.
-->
<label>Server Name</label>
<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>

<hr>

<!--
    With two-way data binding, we combine event binding with property binding. Here, we use the ngModel directive.
    
    With this setup, it will trigger on the input event, like the input above, updating the value of 'otherServerName'
    in the component automatically. Since this is two-way data binding, the value of the input element can be set from 
    the component as well, as it is initialized with 'TestServer'.
-->
<label>Other Server Name</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="otherServerName">
<p>{{ otherServerName }}</p>

<hr>

<!--
    In Angular, square brackets [] indicate that we are using property binding. We want to dynamically bind some property.
    disabled is an HTML attribute, which, in normal HTML, only sets a specific property on the underlying DOM element.

    Each HTML element we use gets parsed by the browser and gets translated to an element on the DOM. Therefore, we have an
    element on the DOM, and this element has some properties. Many of these cannot be set via attributes on an HTML element.
    One of these properties (which can be set) is the disabled property. You can set it though the 'disabled' attribute,
    but here, we are not using the disabled attribute. We are instead directly binding to the native 'disabled' property.

    For the 'disabled' property, we assign it a typescript expression that resolves to a boolean. For other properties, a
    different type may be requried.

    You can also bind to properties of directives, as well as your own components (covered later).
-->
<!--
    Typically, you have the onClick HTML attribute that you can use to execute some Javascript code. Angular offers us the 
    event-binding syntax:
        (click)="<someTypeScriptCode>"
    
    You can bind to any event made available by the HTML attribute you are placing this syntax on, e.g., onClick, onMouseEnter,
    etc. without the "on" at the beginning.

    Normally, you will put some method from the .ts file between the quotation marks, but you can also enter the code you 
    want to execute when the event happens. Only do this if it doesn't become too long.
-->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
    Add Server
</button>
<!--
    Below, we can either use property binding or string interpolation to achieve the same goal, outputting the value of the 
    boolean variable 'allowNewServer'. The 'innerText' property is a DOM property of the 'p' HTML element.

    General rule: If you want to output something in your template, use string interpolation. If you want to change some 
    property of an HTML element, directive, or component, use property binding.
-->
<p>{{ allowNewServer }}</p>

<hr>

<!--
    <p>{{ serverCreationStatus }}</p>
-->

<!--
    Structural directives (directives that change the structure of the DOM), are prefixed with *.
    The directive itself is simply "ngIf". Its selector takes the attribute form:
        selecetor: '[ngIf]'
    
    Most directives take this form (attribute selector).

    # is a local reference. It establishes a reference to the tag that contains it. This reference can be used elsewhere.
    ng-template is a component that ships with Angular that you can use to mark places in the DOM. We are using it to mark
    an area that we want to show conditionally.
-->
<p *ngIf="serverCreated; else noServer">Server was created. Server name: {{ serverName }}</p>
<ng-template #noServer>
    <p>
        No Server was created!
    </p>
</ng-template>

<p [innerText]="allowNewServer"></p>

<!--
    ngFor is a structural directive (uses * prefix) that iterates through a list of objects, placing elements on the DOM.

    We define a temporary variable (server) that iterates through the list (servers; defined in .ts file).

    Individual elements within the array are assigned to the temporary variable (server), allowing us to access it. We do
    not need to do so here.

    You can extract the index of the current index with:
        let <variableName> = index

    The index may be useful, depending on the situation.
-->
<app-server *ngFor="let server of servers; let i = index"></app-server>
