<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr>
      
      <!--
        Here, we use app-servers as an attribute of a div to illustrate that we can change the selector
        in the .ts file to be an attribute selector. This can be seen in the servers.component.ts file as:
          selector: '[app-servers]'
      -->
      <div app-servers></div>

      <!--
        Here, we use app-servers as a class selector. It would appear in servers.component.ts as:
          selector: '.app-servers'
        This is not implemented in servers.component.ts at this time.
      -->
      <div class="app-servers"></div>

      <!--
        For components, you would typically use the element style of selector:
          selector: 'app-servers'

        This is different when using directives.
      -->
    </div>
  </div>
</div>
